*{
    margin: 0;
    padding: 0;
    color: white;
    font-family: sans-serif;
    font-weight: normal;
}

html, body{
    background-color: black;
}

#contenedor{
    color: white;
    width: 100%;
    height: 100%;
    display: table;
}

#header h1{
    font-family: sans-serif;
    font-weight: normal;
    text-align-last: center;
    font-size: 64px;
    margin-top: 83px;
}

#header h1 a{
    text-decoration: none;
    color: white;
}

#header{
    display: table;
    width: 100%;
    height: 250px;
    background-color: black;
    background-image: url(../img/banner.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: inset 11px -15px 20px 11px black;
}

#nav{
    display: table;
    width: 100%;
}

#nav ol{
    list-style: none;
    text-align: center;
    margin-top: -46px;
}



#nav ol li{
    display: inline-flex;
    text-decoration: none;
    text-align: center;
    color: white;
}

#nav ol li a{
    display: block;
    text-decoration: none;
    padding: 15px;
    text-align: center;
    color: white;
}

#nav ol li a:hover{
    opacity: 50%;
    color: gray;
}

#cuerpo{
    display: table;
    width: 75%;
    height: 100%;
    margin-left: 13%;
    margin-right: 13%;
}

#section-1{
    display: flex;
    margin-top: 18px;
}

#description-1 p{
    padding: 13px;
    text-align: justify;
    background-color: rgb(21 22 23);
    border-radius: 14px;
    margin-left: 18px;
    font-size: 19px;
}

#description-1 h1{ 
    margin-left: 41px;
    margin-bottom: 12px;
}

.rocket{
    border-radius: 14px;
    width: 356px;
    margin-left: 21px;
    margin-right: 60px
}

.rocket:hover{
    opacity: 70%;
    color: gray;
}

#section-2{
    display: flex;
    margin-top: 28px;
    margin-left: 85px;
}

#description-2 li{
    padding: 13px;
    text-align: justify;
    background-color: rgb(21 22 23);
    border-radius: 14px;
    margin-left: -8px;
    margin-right: 52px;
    margin-top: 14px;
    list-style: none;
}

#description-2 li:hover{
    opacity: 50%;
    color: gray;
}

#description-2 h1{ 
    margin-bottom: 12px;
    margin-left: 4px;
}

.flight{
    border-radius: 14px;
    width: 356px;
    margin-left: 28px;
    margin-right: 60px;
}

.flight:hover{
    opacity: 70%;
    color: gray;;
}

.photo{
    width: 725px;
    margin: 10px auto 10px auto;
    display: table;
    margin-top: 31px;
    border-radius: 19px;
}

.photo:hover{
    opacity: 70%;
    color: gray;
}

#contactos{
    width: 353px;
    background: rgb(49 50 51 / 56%);
    padding: 50px;
    margin: 34px auto;
    border-radius: 30px;
    position: relative;
    margin-right: 40px;
}

.titulo h1{
    color: white;
    letter-spacing: 5px;
    margin-bottom: 25px;
    text-align: center;
}

.form, .form-items{
    width: 100%;
}

.form_items .input{
    width: 100%;
    margin-bottom: 18px;
    padding: 15px 40px;
    box-sizing: border-box;
    border: 0px;
    outline: none;
    color: black;
    border-radius: 30px;
}

.form_items .input.message{
    height: 125px;
    border-radius: 15px;
    margin-bottom: 30px;
    padding: 15px 15px;
    resize: none;
}

.btn{
    background-color: black;
    text-align: center;
    color: #fff;
    padding: 12px;
    border-radius: 25px;
    cursor: pointer;
}

.btn:hover{
    opacity: 70%;
    color: gray;
}


.form_items{
    position: relative;
}

.form_items .fas{
    position: absolute;
    top: 15px;
    left: 15px;
    color: #9a99aa;
}

#mapa{
    border: 0;
    margin-right: 183px;
    margin-top: 55px;
    border-radius: 17px
}
  

#footer{
    width: 100%;
    height: 62px;
    text-align: center;
    padding-top: 2%;
    margin-right: 1px;
    margin-bottom: 12px;
}

#footer a{
    font-size: 40px;
    margin-left: 10px;
}

#footer a:hover{
    opacity: 50%;
    color: gray;
}


